<!DOCTYPE html>
<html>
      <head>
           <title> new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>
      <body>
        
          <h2 class="footer"> {{title}} @copyrights2020 </h2>

         
      </body>
</html>